<div>
    <mat-toolbar>
        <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
            <span fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
                <mat-icon>phone</mat-icon>
                <small>8 800 555 79 88</small>
            </span>
            <span class="separate">|</span>
            <span fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
                <mat-icon>location_on</mat-icon>
                <small>2903 Avenue Z, Brooklyn, NY, USA</small>
            </span>
            <span class="separate">|</span>
            <span fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
                <mat-icon>mail_outline</mat-icon>
                <small>darutyunyan95@mail.ru</small>
            </span>
            <span class="separate">|</span>
            <div class="social" fxLayoutGap="20px">
                <a href="https://instagram.com/autovikuprus.ru?igshid=1ijtabxir4uxs" class="fa fa-instagram" target="_blank"></a>
                <a href="https://wa.me/79383000735" class="fa fa-whatsapp" target="_blank"></a>
                <a href="tg://resolve?domain=autovikuprus" class="fa fa-telegram" target="_blank"></a>
            </div>
        </div>
    </mat-toolbar>

    <mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
        <span class="logo" (click)="toHome()">AGRO COMPLEX</span>
        <div>
            <a mat-icon-button [routerLink]="['/home']">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-button [routerLink]="['/seeds', 'first']"> СЕМЕНА </a>
            <a mat-button [routerLink]="['/cropProtaction', 'first']"> СЗР </a>
            <a mat-button [routerLink]="['/mineralFertilizers']"> МИН. УДОБРЕНИЯ </a>
            <a mat-button [routerLink]="['/feeds']"> КОРМА </a>
            <a mat-button [routerLink]="['/about']"> О КОМПАНИИ </a>
            <a mat-button [routerLink]="['/contactUs']"> КОНТАКТЫ </a>
        </div>
        <button mat-raised-button color="warn">ОНЛАЙН ЗАЯВКА</button>
    </mat-toolbar>
</div>

<div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>