<div class="main-container" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch" 
fxLayoutGap="20px" fxFlex.lt-md="100%" fxFlex.lt-xl="70%">
    <h1 fxFlexAlign="center" class="mat-display-2">КАТАЛОГ ПРОДУКЦИИ НА 2020</h1>
    <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8">
        <h1 class="mb-0">СЕМЕНА</h1>
        <a mat-icon-button color="warn" [routerLink]="['/seeds', 'first']">
            <mat-icon>arrow_forward_ios</mat-icon>
        </a>
    </mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="p-20"  *ngFor="let seed of seeds">
            <app-product-card [name]="seed.name" [isSeeds]="true" [productId]="seed.id"></app-product-card>
        </div>
    </div>
    <mat-card fxLoyout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8">
        <h1 class="mb-0">СЭР</h1>
        <a mat-icon-button color="warn" [routerLink]="['/cropProtaction', 'first']">
            <mat-icon>arrow_forward_ios</mat-icon>
        </a>
    </mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="p-20" *ngFor="let productProtect of planProtectionProducts">
            <app-product-card [name]="productProtect.name" [isSeeds]="false" [productId]="productProtect.id">
            </app-product-card>
        </div>
    </div>
</div>