<ul>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin','dashboard']">Продукты</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin','add-product']">Добавить продукт</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin','add-product-name']">Добавить имя продукта</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin','add-column-type']">Добавить тип таблицы</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin','add-product-type']">Добавить вид продукции</a>
    </li>
</ul>

<router-outlet></router-outlet>