<h1 class="m-4 text-center text-md-right text-lg-right text-xl-right">Добавление название нового продукта</h1>

<div class="row justify-content-end">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="name">Введите имя</label>
                <small class="form-text text-muted">Пример: Однолетние травы</small>
                <input id="name" class="form-control" type="text" formControlName="name">
            </div>
            <div class="form-group">
                <label for="productType">Выберите вид продукта</label>
                <select class="form-control" formControlName="productType">
                    <option *ngFor="let productType of productTypes;" [value]="productType.id">
                        {{productType.name}}
                    </option>
                </select>
            </div>
            <button type="submit" [disabled]="form.invalid || submitted" mat-raised-button color="primary"
                class="float-right">Добавить</button>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
        <div *ngIf="productNames.length" class="form-group">
            <h2>Список продуктов</h2>
            <ul class="list-group max-height overflow-auto">
                <li *ngFor="let productName of productNames;"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="w-33">{{productName.name}}</span>
                    <span class="w-33">{{productName.productType}}</span>
                    <button type="button" (click)="remove(productName.id)" mat-icon-button color="warn"
                        aria-label="Example icon button with a heart icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>