<h2>Добавление нового вида продукции</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">Введите имя</label><br>
        <input id="name" class="form-control" type="text" formControlName="name">
        <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
            <small *ngIf="form.get('name').errors.required">Введите имя</small>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Добавить</button>
</form>
<br>
<div *ngIf="productTypes.length" class="form-group">
    <label for="students-list">Список продукции</label>
    <ul>
        <li *ngFor="let productType of productTypes;">{{productType.name}}
            <button type="button"  (click)="remove(productType.id)">Удалить</button>
        </li>
    </ul>
</div>