<div class="main-container" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px"
  fxFlex.lt-md="100%" fxFlex.lt-xl="70%">
  <h1 fxFlexAlign="center" class="mat-display-2">СРЕДСТВА ЗАЩИТЫ РАСТЕНИЙ</h1>

  <div fxLayout="row" fxFlexFill fxLayoutGap="20px">
    <div fxFlex="30%">
      <app-left-menu (loadNewProduct)="loadProduct($event)" [productType]="'СЗР'"></app-left-menu>
    </div>

    <div *ngIf="product" fxFlex="70%">
      <app-table [product]="product"></app-table>
    </div>
  </div>
</div>