/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

a:hover {
    text-decoration: none;
}

/* Start of common styles */

.main-container {
    margin: 0 auto;
    margin-bottom: 40px;
    min-height: 500px;
}

h1.mat-display-2{
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.menu-spacer {
    flex: 1 1 auto;
}

.form-text {
    margin-top: 0;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* End of common styles */

/* Start of admin styles */

.product-list {
    background-color: white;
    max-height: 340px !important;
    overflow: auto;
}

.product-list > div {
    padding: 0 20px;
    margin-bottom: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.product-list > h2 {
    margin: 0;
    padding: 10px;  
}

/* End of admin styles */
